:root {
    --left-of-page-background: #1992D3;
    --left-of-page-color: white;
    background-color: #E2E8F0;

}

img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

header,
#right-of-page {
    margin-left: 200px;
}

#left-of-page {
    background-color: var(--left-of-page-background);
    color: var(--left-of-page-color);
    font-weight: bold;
    width: 200px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 48px;

    position: fixed;
}

#left-of-page #logo {
    padding: 16px;

}

svg {
    fill: white;
    width: 20px;
    margin-right: 16px;
}

#logo svg {
    width: 32px;

}

li,
#logo {
    display: flex;
    align-items: center;
}

#left-of-page #upper-nav ul,
#left-of-page #lower-nav ul {
    list-style: none;
    padding-left: 24px;

    display: grid;
    gap: 16px;
}

header {
    grid-area: header;
    background-color: white;

    display: grid;
    grid-template-rows: 50% 50%;

}

header svg {
    fill: black;
}

header #top-of-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 16px;
    gap: 128px;
    align-items: center;

}

#top-of-header form {
    display: grid;
    grid-template-columns: 100px 1fr;
}

#top-of-header form input {
    width: 100%;
}

#search-bar {
    background-color: #E2E8F0;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 100%;
}

header #bottom-of-header {
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    padding: 16px;
    gap: 16px;
    font-weight: bold;
}

#bottom-of-header-text p:first-child {
    font-size: .8rem;
}

#bottom-of-header-text p:last-child {
    font-size: 1.2rem;
}

.header-button {
    background-color: #1992D3;
    color: white;
    border: none;
    border-radius: 20px;
    height: fit-content;
    padding: 8px 24px;
}

#bottom-of-header-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

#search-icon {
    justify-self: center;
    align-self: center;
}

#top-of-header-right {
    display: grid;
    grid-template-columns: 25px 50px 150px;
    justify-content: end;
    gap: 24px;
    align-items: center;
}

#top-of-header-right svg {
    padding: 0;
}

#top-of-header-right p {
    font-weight: bold;
}

#right-of-page {
    grid-area: right-of-page;
    background-color: #E2E8F0;

    display: grid;
    grid-template: 1fr / 3fr 1fr;
    grid-template-areas:
        "projects side-content"
        "projects side-content"
}

#projects {
    padding: 24px;
}

#projects>p {
    margin-bottom: 16px;
    font-weight: bold;
}

#projects-content {
    grid-area: projects;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 25px;
    column-gap: 20px;
}

.project-card {
    background-color: white;
    border-left: 7px solid #F0B329;
    border-radius: 5px;
    padding: 24px;
    height: 200px;
}

.project-card-text p:first-child {
    font-weight: bold;
}

.project-card-text p:last-child {
    font-size: .8rem;
}


#side-content {
    grid-area: side-content;
}

#announcements {
    padding: 24px;
}

#announcements>p {
    font-weight: bold;
    margin-bottom: 16px;
}

.announcement-card {
    background-color: white;
    padding: 0 24px;
}

.announcement-card-text>strong {
    font-size: .9rem;
    display: inline-block;
    padding-top: 16px;
}

.announcement-card-text>p {
    font-size: .7rem;
    padding-bottom: 16px;
}

.announcement-card:nth-child(2) strong {
    padding-top: 32px;
}

.announcement-card-text:last-child>p {
    padding-bottom: 32px;
}

.announcement-card-text {
    width: 95%;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

hr {
    opacity: .3;
}

#trending {
    margin-bottom: 20px;
    padding: 24px;
}

#trending>p {
    font-weight: bold;
    margin-bottom: 8px;
}

.trending-card {
    background-color: white;
    padding: 16px;

    display: grid;
    grid-template-columns: 50px 175px;
    gap: 20px;
}

.trending-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-card-text .user {
    font-size: .8rem;
    margin: 0;
}

.trending-card-text .user-name {
    font-size: .9rem;
}

.announcement-card:nth-child(2),
#trending .trending-card:nth-child(2) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.announcement-card:last-child,
#trending .trending-card:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#logo {
    font-size: 1.3rem;
}

.section-title {
    font-size: 1.1rem;
}