:root {
    --left-of-page-background: #1992D3;
    --left-of-page-color: white;
    background-color: #E2E8F0;

}

header,
#right-of-page {
    margin-left: 200px;
}

#left-of-page {
    background-color: var(--left-of-page-background);
    color: var(--left-of-page-color);
    font-weight: bold;
    width: 200px;
    height: 100vh;

    grid-area: left-of-page;
    display: grid;
    grid-template-rows: 10% 35% 50%;

    position: fixed;
}

#left-of-page #logo {
    padding: 16px;
}

#left-of-page #upper-nav ul,
#left-of-page #lower-nav ul {
    list-style: none;

    display: grid;
    gap: 16px;
}

header {
    grid-area: header;
    background-color: white;

    display: grid;
    grid-template-rows: 50% 50%;

}

header #top-of-header {
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    padding: 16px;
    gap: 16px;
}

header #bottom-of-header {
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    padding: 16px;
    gap: 16px;
}

#top-of-header-right,
#bottom-of-header-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

#right-of-page {
    grid-area: right-of-page;
    background-color: #E2E8F0;

    display: grid;
    grid-template: 600px 1fr / 3fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending"
}

#projects {
    padding: 24px;
    /* overflow: auto; */
}

#projects>p {
    margin-bottom: 16px;
    font-weight: bold;
}

#projects-content {
    grid-area: projects;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 25px;
    column-gap: 20px;
}

.project-card {
    background-color: white;
    border-left: 7px solid #F0B329;
    border-radius: 5px;
    padding: 24px;
    height: 200px;
}

.project-card-text p:first-child {
    font-weight: bold;
}

.project-card-text p:last-child {
    font-size: .8rem;
}

#announcements {
    grid-area: announcements;
    padding: 24px;
}

#announcements p:first-child {
    margin-bottom: 16px;
}

#announcements>p {
    font-weight: bold;
}

.announcement-card {
    background-color: white;
    padding: 16px;
}

#trending {
    grid-area: trending;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 24px;
}

#trending p:first-child {
    margin-bottom: 16px;
}

#trending>p {
    font-weight: bold;
    margin-bottom: 8px;
}

.trending-card {
    background-color: white;
    padding: 16px;

    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 20px;
}

.announcement-card:nth-child(2),
#trending .trending-card:nth-child(2) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.announcement-card:last-child,
#trending .trending-card:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}